
body{background-color: hsl(246, 100%, 65%) !important;}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(229, 7%, 55%)}



.container-sm{
    display: flex;
}

.card {
    background-color: hsl(228, 56%, 26%) !important;
}

.card .card-body {
    color: white;
}

#curved {
    border-top-right-radius: 45% !important;
    width: 220px !important;
    padding-top: 10px !important;
   
    
}

#rectangle {
    width: 500px !important;
    margin-left: 20px !important;
    

}

#GB {
    margin-left:230px !important;
}

.form-range {
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%)) !important; 
   }

  .form-range::-webkit-slider-thumb {
    appearance: none !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    zoom: 0.7 !important;
    background: white !important; 
    cursor: pointer !important;
  }

  .card-title {
    font-size: 12px !important;
 }

  .document{
    border: 3px solid hsl(229, 57%, 11%);
    background-color: hsl(229, 57%, 11%) !important;
    }

  .folder{
    border: 3px solid hsl(229, 57%, 11%);
    background-color: hsl(229, 57%, 11%) !important;
  }

  .upload{
    border: 3px solid hsl(229, 57%, 11%);
    background-color: hsl(229, 57%, 11%) !important;
  }